PORT=3200
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/gestion-canchas
FIREBASE_SERVICE_ACCOUNT_BASE64=<pega_aqui_el_json_codificado_en_base64>
FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:3200
OWNER_MONTHLY_FEE_ARS=30000
OWNER_MONTHLY_FEE_CURRENCY=ARS
OWNER_PAYMENT_GRACE_DAYS=10
OWNER_BILLING_CYCLE_MONTHS=1
MERCADOPAGO_PUBLIC_KEY=<tu_public_key_de_mercado_pago>
MERCADOPAGO_ACCESS_TOKEN=<tu_access_token_de_mercado_pago>
MERCADOPAGO_WEBHOOK_SECRET=<tu_webhook_secret_de_mercado_pago>
MERCADOPAGO_TEST_PAYER_EMAIL=<email_de_comprador_de_prueba_opcional>
CLOUDINARY_CLOUD_NAME=<tu_cloud_name_de_cloudinary>
CLOUDINARY_API_KEY=<tu_api_key_de_cloudinary>
CLOUDINARY_API_SECRET=<tu_api_secret_de_cloudinary>
